{
  "env": {
    "es6": true
  },
  "rules": {
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "constructor-super": 2,
    "comma-dangle": [2, "always-multiline"],
    "eqeqeq": 2,
    "generator-star-spacing": [2, "after"],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "no-arrow-condition": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-reflect": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "quotes": [2,  "single"],
    "require-yield": 2,
    "semi": [2,"never"]
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "eslint:recommended"
}
